<<<<<<< HEAD
/* Error: expected more input.
 *   ,
 * 1 | @import
 *   |        ^
 *   '
 *   styles/scss/_variables.scss 1:8  @import
 *   styles/scss/index.scss 1:9       root stylesheet */
=======
:root {
  --color-text-primary: #2c3637;
  --color-text-secondary: #fff;
  --color-primary: #005498a8;
}
>>>>>>> parent of 7c9cc0c (install sass and add package.json)

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a   \2577 \a 1 \2502  @import\a   \2502         ^\a   \2575 \a   styles/scss/_variables.scss 1:8  @import\a   styles/scss/index.scss 1:9       root stylesheet";
}
